

.facebook {
    width: 5%;
    margin-right: 5%;
    margin-left: 53%;
}

.instagram {
    width: 5%;
}

.footer {
    /* margin-top: 20%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
}

.titlefooter {
    font-size: 9px;
    margin-left: 4%;
}

.secondFooter {
    margin-top: 3%;
    background-color: black;
    color: white;
    padding: 20px 0;
}

li {
    padding: 41px 0px;
    font-size: 10px;
    margin-left: 25%;
    font-weight: bold;
    list-style-type: none;
}

