@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title {
    margin: 0;
    padding: 18px 14px 18px 14px;
    border: solid 1px white;
    font-size: 10px;
    max-width: 174.5px;
    color: white;
    letter-spacing: 3px;
    margin-top: 52px;
    margin-left: 25px;
    margin-right: 126px;
    text-align: center;
  }