.body {
    background-color: #eff0ff;
    
}

.background {
    background-color: black;
    padding-top: 1px;
}

.search {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    color: white;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-top: 18%;
    padding-bottom: 28px;
    text-align: center;
    font-size: 25px;
}

.cards {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    width: 303px;
    height: 251px;
    margin-bottom: 10%;
}

.card-body {
    font-size: 12px;
    padding: 20px;
}

.cards-details {
    margin-top: 20%;
}

.map {
    background-color: #4e55e3;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    padding: 24px 24px;
    margin-top: 15%;
}

.buttonsearch {
    text-decoration: none;
    color: white;
}