@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainpage {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 126%;
  margin-top: 97px;
  margin-right: 36px;
  margin-left: 47px;
  margin-bottom: 66px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.address {
  height: 54px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin-left: 27px;
  margin-right: 87px;
  margin-bottom: 29px;
  padding-right: 100px;


  /* or 16px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
  text-decoration: underline 1px solid rgba(255, 255, 255, 0.29);
  text-underline-offset: 20px;
}
